In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("도로교통공단_교통사고다발지역_20191010.csv",encoding='CP949')

In [3]:
list(df.columns)

['사고지역관리번호',
 '사고년도',
 '사고유형구분',
 '위치코드',
 '시도시군구명',
 '사고지역위치명',
 '발생건수',
 '사상자수',
 '사망자수',
 '중상자수',
 '경상자수',
 '부상자수',
 '위도',
 '경도',
 '사고다발지역폴리곤정보',
 '데이터기준일자']

In [4]:
df.head()

,사고지역관리번호,사고년도,사고유형구분,위치코드,시도시군구명,사고지역위치명,발생건수,사상자수,사망자수,중상자수,경상자수,부상자수,위도,경도,사고다발지역폴리곤정보,데이터기준일자
0,2013060,2012,스쿨존어린이,11110001,서울특별시 종로구1,서울특별시 종로구 혜화동(혜화초교 부근),2,2,0,1,1,0,37.588413,126.999607,"{type:Polygon,coordinates:[[[127.002009,37.590...",2019-10-10
1,2013060,2012,스쿨존어린이,11290001,서울특별시 성북구1,서울특별시 성북구 종암동(숭례초교 부근),2,2,0,0,1,1,37.595505,127.035733,"{type:Polygon,coordinates:[[[127.0381354,37.59...",2019-10-10
2,2013060,2012,스쿨존어린이,11290002,서울특별시 성북구2,서울특별시 성북구 동소문동7가(정덕초교 부근),2,2,0,2,0,0,37.597571,127.014564,"{type:Polygon,coordinates:[[[127.0169658,37.59...",2019-10-10
3,2013060,2012,스쿨존어린이,11290003,서울특별시 성북구3,서울특별시 성북구 석관동(석관초교 부근),3,3,0,2,1,0,37.610429,127.059596,"{type:Polygon,coordinates:[[[127.0619982,37.61...",2019-10-10
4,2013060,2012,스쿨존어린이,11320001,서울특별시 도봉구1,서울특별시 도봉구 쌍문동(쌍문초교 부근),2,2,0,0,2,0,37.648129,127.024430,"{type:Polygon,coordinates:[[[127.0268336,37.65...",2019-10-10

In [5]:
df.shape

(10365, 16)

년도, 사고유형, 위치 -> 발생건수 사상자수(사망,중상,경상,부상)

In [6]:
df_2012=df[df["사고년도"]==2012]
df_2013=df[df["사고년도"]==2013]
df_2014=df[df["사고년도"]==2014]
df_2015=df[df["사고년도"]==2015]
df_2016=df[df["사고년도"]==2016]
df_2017=df[df["사고년도"]==2017]
df_2018=df[df["사고년도"]==2018]

## 발생건수

In [7]:
sum(df["발생건수"])

49242

In [8]:
for i in range(2012,2019):
    print(i,"년",sum(df[df["사고년도"]==i]["발생건수"]))

2012 년 8494
2013 년 7856
2014 년 8047
2015 년 7932
2016 년 6423
2017 년 5666
2018 년 4824

## 사망자수

In [9]:
sum(df["사망자수"])

2428

In [10]:
for i in range(2012,2019):
    print(i,"년",sum(df[df["사고년도"]==i]["사망자수"]))

2012 년 510
2013 년 385
2014 년 336
2015 년 360
2016 년 286
2017 년 300
2018 년 251

## 부상자수

In [11]:
sum(df["사상자수"])-sum(df["사망자수"])

49585

In [12]:
for i in range(2012,2019):
    print(i,"년",sum(df[df["사고년도"]==i]["사상자수"])-sum(df[df["사고년도"]==i]["사망자수"]))

2012 년 8399
2013 년 7913
2014 년 8186
2015 년 8034
2016 년 6520
2017 년 5713
2018 년 4820

## 사고유형구분

In [13]:
df["사고유형구분"].value_counts()

보행노인      3919
자전거       3315
무단횡단      2006
보행어린이      852
스쿨존어린이     273
Name: 사고유형구분, dtype: int64

In [14]:
for i in range(2012,2019):
    print(i,df[df["사고년도"]==i]["사고유형구분"].value_counts())

2012 무단횡단      564
보행노인      508
자전거       453
보행어린이     198
스쿨존어린이     35
Name: 사고유형구분, dtype: int64
2013 보행노인      552
자전거       480
무단횡단      389
보행어린이     158
스쿨존어린이     27
Name: 사고유형구분, dtype: int64
2014 자전거       586
보행노인      586
무단횡단      248
보행어린이     130
스쿨존어린이     43
Name: 사고유형구분, dtype: int64
2015 보행노인      606
자전거       597
무단횡단      244
보행어린이     117
스쿨존어린이     43
Name: 사고유형구분, dtype: int64
2016 보행노인      586
자전거       492
무단횡단      204
보행어린이      91
스쿨존어린이     47
Name: 사고유형구분, dtype: int64
2017 보행노인      552
자전거       386
무단횡단      212
보행어린이      79
스쿨존어린이     36
Name: 사고유형구분, dtype: int64
2018 보행노인      529
자전거       321
무단횡단      145
보행어린이      79
스쿨존어린이     42
Name: 사고유형구분, dtype: int64

## 발생위치

In [15]:
df_seoul = df[df["시도시군구명"].str.contains("서울")]

In [16]:
df_seoul.shape

(2869, 16)

In [17]:
2869/16364

0.17532388169151797

In [18]:
df_gg = df[df["시도시군구명"].str.contains("경기")]
df_gg.shape

(1830, 16)

In [19]:
1830/1226

1.4926590538336053

In [20]:
df_gw = df[df["시도시군구명"].str.contains("강원")]
df_gw.shape

(220, 16)

In [21]:
220/90

2.4444444444444446

In [22]:
df_dg = df[df["시도시군구명"].str.contains("대구")]
df_dg.shape

(1066, 16)

In [23]:
1066/2791

0.3819419562880688

In [24]:
df_bs = df[df["시도시군구명"].str.contains("부산")]
df_bs.shape

(759, 16)

In [25]:
759/4480

0.16941964285714287

In [26]:
df_gj = df[df["시도시군구명"].str.contains("광주")]
df_gj = df_gj[df_gj["시도시군구명"].str.contains("경기")==False]
df_gj.shape

(328, 16)

In [27]:
328/2999

0.10936978992997666

In [28]:
df_dj = df[df["시도시군구명"].str.contains("대전")]
df_dj.shape

(326, 16)

In [29]:
326/2852

0.11430575035063113

In [30]:
df_ws = df[df["시도시군구명"].str.contains("울산")]
df_ws.shape

(192, 16)

In [31]:
192/1100

0.17454545454545456

In [32]:
df_ic = df[df["시도시군구명"].str.contains("인천")]
df_ic.shape

(369, 16)

In [33]:
369/2756

0.13388969521044994

In [34]:
df_jrb = df[df["시도시군구명"].str.contains("전라북도")]
df_jrb.shape

(331, 16)

In [4]:
402/227

1.7709251101321586

In [36]:
df_jrn = df[df["시도시군구명"].str.contains("전라남도")]
df_jrn.shape

(276, 16)

In [5]:
332/146

2.2739726027397262

In [38]:
df_jb = df[df["시도시군구명"].str.contains("전북")]
df_jb.shape

(71, 16)

In [39]:
df_jn = df[df["시도시군구명"].str.contains("전남")]
df_jn.shape

(56, 16)

In [40]:
df_ccb = df[df["시도시군구명"].str.contains("충청북도")]
df_ccb.shape

(294, 16)

In [41]:
df_cb = df[df["시도시군구명"].str.contains("충북")]
df_cb.shape

(45, 16)

In [1]:
(339)/215

1.5767441860465117

In [43]:
df_cn = df[df["시도시군구명"].str.contains("충남")]
df_cn.shape

(56, 16)

In [44]:
df_ccn = df[df["시도시군구명"].str.contains("충청남도")]
df_ccn.shape

(174, 16)

In [2]:
230/257

0.8949416342412452

In [46]:
df_gsb = df[df["시도시군구명"].str.contains("경상북도")]
df_gsb.shape

(450, 16)

In [47]:
df_gb = df[df["시도시군구명"].str.contains("경북")]
df_gb.shape

(43, 16)

In [48]:
(493)/141

3.49645390070922

In [49]:
df_gsn = df[df["시도시군구명"].str.contains("경상남도")]
df_gsn.shape

(397, 16)

In [50]:
df_gn = df[df["시도시군구명"].str.contains("경남")]
df_gn.shape

(97, 16)

In [3]:
494/316

1.5632911392405062

In [51]:
df_jj = df[df["시도시군구명"].str.contains("제주")]
df_jj.shape

(157, 16)

In [70]:
157/328

0.47865853658536583

In [52]:
ingumildo = pd.DataFrame(data ={"인구밀도" :[1226,16364,4480,141,
                                         316,2756,2791,215,257,227,
                                         146,90,2852,2999,1100,328]}
            ,index=['경기','서울','부산','경북',
                    '경남','인천','대구','충북','충남',
                    '전북','전남','강원','대전','광주','울산','제주'])
ingumildo

     인구밀도
경기   1226
서울  16364
부산   4480
경북    141
경남    316
인천   2756
대구   2791
충북    215
충남    257
전북    227
전남    146
강원     90
대전   2852
광주   2999
울산   1100
제주    328

df_jrd = pd.concat([df_jr,df_jb])
df_jrd = pd.concat([df_jrd,df_jn])
df_jrd.shape

df_ccd = pd.concat([df_cc,df_cb])
df_ccd = pd.concat([df_ccd,df_cn])
df_ccd.shape

df_gsd = pd.concat([df_gs,df_gb])
df_gsd = pd.concat([df_gsd,df_gn])
df_gsd.shape

In [53]:
ingu = pd.DataFrame(data ={"인구수" :[13145482,9762062,3429595,6037588,2957179,2452291,4051363,3699589,1540776,1484398,1459003,1151685,669328]}
            ,index=['경기','서울','부산','경상도','인천','대구','충청','전라','강원','대전','광주','울산','제주'])

In [54]:
ingu

          인구수
경기   13145482
서울    9762062
부산    3429595
경상도   6037588
인천    2957179
대구    2452291
충청    4051363
전라    3699589
강원    1540776
대전    1484398
광주    1459003
울산    1151685
제주     669328

In [55]:
1830/13145482

0.00013921132751161197

In [56]:
2869/9762062

0.0002938928271506573

In [57]:
759/3429595

0.00022130893006317071

In [58]:
987/6037588

0.00016347587811556534

In [59]:
369/2957179

0.00012478108359351936

In [60]:
1066/2452291

0.0004346955561146699

In [61]:
569/4051363

0.00014044656082409795

In [62]:
734/3699589

0.0001984004169111758

In [63]:
220/1540776

0.00014278519395421527

In [64]:
326/1484398

0.00021961764971389076

In [65]:
328/1459003

0.00022481105247898736

In [66]:
192/1151685

0.00016671225204808606

In [67]:
157/669328

0.0002345636220208926

In [68]:
ingumildo = pd.DataFrame(data ={"인구밀도" :[1226,16364,4480,141,316,2756,2791,215,257,227,146,90,2852,2999,1100,328]}
            ,index=['경기','서울','부산','경북','경남','인천','대구','충북','충남','전북','전남','강원','대전','광주','울산','제주'])