In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv("도로교통공단_전국_사망교통사고정보(2018)_20190910.csv",encoding='CP949')

In [2]:
df.head()

,발생년,발생년월일시분,주야,요일,사망자수,사상자수,중상자수,경상자수,부상신고자수,발생지시도,...,도로형태_대분류,도로형태,가해자_당사자종별_대분류,가해자_당사자종별,피해자_당사자종별_대분류,피해자_당사자종별,발생위치X_UTMK,발생위치Y_UTMK,경도,위도
0,2018,2018-02-14 06:35,주,수,1,1,0,0,0,서울,...,단일로,기타단일로,승용차,승용차,보행자,보행자,950497.0,1954702.0,126.939274,37.590388
1,2018,2018-09-02 05:23,야,일,1,1,0,0,0,서울,...,교차로,교차로횡단보도내,승용차,승용차,보행자,보행자,953337.0,1950150.0,126.971732,37.549508
2,2018,2018-12-15 22:35,야,토,1,1,0,0,0,서울,...,단일로,기타단일로,이륜차,이륜차,없음,없음,956967.0,1954807.0,127.012552,37.591659
3,2018,2018-08-23 11:30,주,목,1,1,0,0,0,서울,...,단일로,기타단일로,승합차,승합차,없음,없음,958020.0,1959193.0,127.024227,37.631240
4,2018,2018-07-16 00:50,야,월,1,1,0,0,0,서울,...,교차로,교차로횡단보도내,화물차,화물차,보행자,보행자,957606.0,1958258.0,127.019590,37.622794

In [3]:
df=df[df["사고유형_대분류"] == "차대사람"]

In [4]:
df.head()

,발생년,발생년월일시분,주야,요일,사망자수,사상자수,중상자수,경상자수,부상신고자수,발생지시도,...,도로형태_대분류,도로형태,가해자_당사자종별_대분류,가해자_당사자종별,피해자_당사자종별_대분류,피해자_당사자종별,발생위치X_UTMK,발생위치Y_UTMK,경도,위도
0,2018,2018-02-14 06:35,주,수,1,1,0,0,0,서울,...,단일로,기타단일로,승용차,승용차,보행자,보행자,950497.0,1954702.0,126.939274,37.590388
1,2018,2018-09-02 05:23,야,일,1,1,0,0,0,서울,...,교차로,교차로횡단보도내,승용차,승용차,보행자,보행자,953337.0,1950150.0,126.971732,37.549508
4,2018,2018-07-16 00:50,야,월,1,1,0,0,0,서울,...,교차로,교차로횡단보도내,화물차,화물차,보행자,보행자,957606.0,1958258.0,127.019590,37.622794
5,2018,2018-12-30 04:19,야,일,1,1,0,0,0,서울,...,단일로,기타단일로,승용차,승용차,보행자,보행자,957823.0,1957100.0,127.022115,37.612366
6,2018,2018-01-29 07:17,주,월,1,1,0,0,0,서울,...,단일로,기타단일로,화물차,화물차,보행자,보행자,963182.0,1948990.0,127.083241,37.539499

In [5]:
df.to_csv('df_car_human.csv',encoding = 'CP949',columns =['위도','경도'],index=False)

In [35]:
df

,발생년,발생년월일시분,주야,요일,사망자수,사상자수,중상자수,경상자수,부상신고자수,발생지시도,...,도로형태_대분류,도로형태,가해자_당사자종별_대분류,가해자_당사자종별,피해자_당사자종별_대분류,피해자_당사자종별,발생위치X_UTMK,발생위치Y_UTMK,경도,위도
0,2018,2018-02-14 06:35,주,수,1,1,0,0,0,서울,...,단일로,기타단일로,승용차,승용차,보행자,보행자,950497.0,1954702.0,126.939274,37.590388
1,2018,2018-09-02 05:23,야,일,1,1,0,0,0,서울,...,교차로,교차로횡단보도내,승용차,승용차,보행자,보행자,953337.0,1950150.0,126.971732,37.549508
4,2018,2018-07-16 00:50,야,월,1,1,0,0,0,서울,...,교차로,교차로횡단보도내,화물차,화물차,보행자,보행자,957606.0,1958258.0,127.019590,37.622794
5,2018,2018-12-30 04:19,야,일,1,1,0,0,0,서울,...,단일로,기타단일로,승용차,승용차,보행자,보행자,957823.0,1957100.0,127.022115,37.612366
6,2018,2018-01-29 07:17,주,월,1,1,0,0,0,서울,...,단일로,기타단일로,화물차,화물차,보행자,보행자,963182.0,1948990.0,127.083241,37.539499
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3643,2018,2018-12-22 17:50,주,토,1,2,0,1,0,경기,...,교차로,교차로부근,화물차,화물차,보행자,보행자,970431.0,1966978.0,127.164567,37.701891
3646,2018,2018-10-02 19:20,야,화,1,1,0,0,0,경기,...,단일로,기타단일로,승용차,승용차,보행자,보행자,940622.0,1981501.0,126.825239,37.831335
3647,2018,2018-02-05 19:38,야,월,1,1,0,0,0,경기,...,단일로,기타단일로,승용차,승용차,보행자,보행자,944479.0,1983127.0,126.868942,37.846233
3650,2018,2018-09-11 21:00,야,화,1,1,0,0,0,경기,...,단일로,기타단일로,승용차,승용차,보행자,보행자,967749.0,1954997.0,127.134672,37.593813
3651,2018,2018-07-15 20:05,야,일,1,1,0,0,0,경기,...,단일로,기타단일로,화물차,화물차,보행자,보행자,967448.0,1955055.0,127.131260,37.594325

In [6]:
df_day = df[df["주야"]=="주"]
sum(df_day["사상자수"])

602

In [7]:
df_day.shape

(555, 26)

In [8]:
df_night = df[df["주야"]=="야"]
sum(df_night["사상자수"])

996

In [9]:
df_night.shape

(881, 26)

## 월

In [10]:
df_mon = df[df["요일"]=="월"]
df_mon.shape

(211, 26)

In [11]:
df_mon_day = df_mon[df_mon["주야"] == "주"]
print(sum(df_mon_day["사상자수"]))
print(df_mon_day.shape)

101
(95, 26)

In [12]:
df_mon_night = df_mon[df_mon["주야"] == "야"]
print(sum(df_mon_night["사상자수"]))
print(df_mon_night.shape)

126
(116, 26)

## 화

In [13]:
df_ghk = df[df["요일"]=="화"]
df_ghk.shape

(197, 26)

In [14]:
df_ghk_day = df_ghk[df_ghk["주야"] == "주"]
print(sum(df_ghk_day["사상자수"]))
print(df_ghk_day.shape)

86
(86, 26)

In [15]:
df_ghk_night = df_ghk[df_ghk["주야"] == "야"]
print(sum(df_ghk_night["사상자수"]))
print(df_ghk_night.shape)

121
(111, 26)

## 수

In [16]:
df_tn = df[df["요일"]=="수"]
df_tn.shape

(214, 26)

In [17]:
df_tn_day = df_tn[df_tn["주야"] == "주"]
print(sum(df_tn_day["사상자수"]))
print(df_tn_day.shape)

84
(80, 26)

In [18]:
df_tn_night = df_tn[df_tn["주야"] == "야"]
print(sum(df_tn_night["사상자수"]))
print(df_tn_night.shape)

166
(134, 26)

## 목

In [19]:
df_ahr = df[df["요일"]=="목"]
df_ahr.shape

(207, 26)

In [20]:
df_ahr_day = df_ahr[df_ahr["주야"] == "주"]
print(sum(df_ahr_day["사상자수"]))
print(df_ahr_day.shape)

105
(94, 26)

In [21]:
df_ahr_night = df_ahr[df_ahr["주야"] == "야"]
print(sum(df_ahr_night["사상자수"]))
print(df_ahr_night.shape)

120
(113, 26)

## 금

In [22]:
df_rma = df[df["요일"]=="금"]
df_rma.shape

(239, 26)

In [23]:
df_rma_day = df_rma[df_rma["주야"] == "주"]
print(sum(df_rma_day["사상자수"]))
print(df_rma_day.shape)

105
(94, 26)

In [24]:
df_rma_night = df_rma[df_rma["주야"] == "야"]
print(sum(df_rma_night["사상자수"]))
print(df_rma_night.shape)

155
(145, 26)

## 토

In [25]:
df_xh = df[df["요일"]=="토"]
df_xh.shape

(208, 26)

In [26]:
df_xh_day = df_xh[df_xh["주야"] == "주"]
print(sum(df_xh_day["사상자수"]))
print(df_xh_day.shape)

82
(71, 26)

In [27]:
df_xh_night = df_xh[df_xh["주야"] == "야"]
print(sum(df_xh_night["사상자수"]))
print(df_xh_night.shape)

156
(137, 26)

## 일

In [28]:
df_sun = df[df["요일"]=="일"]
df_sun.shape

(160, 26)

In [29]:
df_sun_day = df_sun[df_sun["주야"] == "주"]
print(sum(df_sun_day["사상자수"]))
print(df_sun_day.shape)

39
(35, 26)

In [30]:
df_sun_night = df_sun[df_sun["주야"] == "야"]
print(sum(df_sun_night["사상자수"]))
print(df_sun_night.shape)

152
(125, 26)

In [31]:
ingu = pd.DataFrame(data ={"인구수" :[13145482,
                                   9762062,
                                   3429595,
                                   2671036,
                                   3369949,
                                   2957179,
                                   2452291,
                                   1598775,
                                   2125778,
                                   1830499,
                                   1874232,
                                   1540776,
                                   1484398,
                                   1459003,
                                   1151685,
                                   669328]}
            ,index=['경기','서울','부산','경북','경남','인천','대구','충북','충남','전북','전남','강원','대전','광주','울산','제주'])

In [32]:
ingu

         인구수
경기  13145482
서울   9762062
부산   3429595
경북   2671036
경남   3369949
인천   2957179
대구   2452291
충북   1598775
충남   2125778
전북   1830499
전남   1874232
강원   1540776
대전   1484398
광주   1459003
울산   1151685
제주    669328

In [33]:
ingumildo = pd.DataFrame(data ={"인구밀도" :[1226,16364,4480,141,316,2756,2791,215,257,227,146,90,2852,2999,1100,328]}
            ,index=['경기','서울','부산','경북','경남','인천','대구','충북','충남','전북','전남','강원','대전','광주','울산','제주'])

In [34]:
ingumildo

     인구밀도
경기   1226
서울  16364
부산   4480
경북    141
경남    316
인천   2756
대구   2791
충북    215
충남    257
전북    227
전남    146
강원     90
대전   2852
광주   2999
울산   1100
제주    328